<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.Testscripts.TC5"/>
      <class name="org.testing.Testscripts.TC6"/>
      <class name="org.testing.Testscripts.TC7"/>
      <class name="org.testing.Testscripts.TC8"/>
      <class name="org.testing.Testscripts.TC1"/>
      <class name="org.testing.Testscripts.TC2"/>
      <class name="org.testing.Testscripts.TC3"/>
      <class name="org.testing.Testscripts.TC4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
